
.image-container{
    display :flex;
    /* align-items: center; */
    margin-left: 50px; 
    margin-right: 50px; 
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.image-caption{
    font-size: 0.5cm;
    margin: 0;
    color: rgb(45, 177, 233);
    padding-right: 80px;
}
.nav-pills .nav-link {
    background-color: rgb(21, 127, 162);
    color: white;
}
.nav-pills .nav-link.active{
    background-color: rgb(15, 73, 93);
    color: white;
}
.container {
    display: flex;
    /* background-color: rgb(101, 185, 213); */
    background: radial-gradient(circle at top left, rgba(15, 73, 93, 0.8) 0%, rgb(45, 177, 233) 100%);
}

.text-frame {
    flex: 1;
    padding: 20px;
    
}

.image-frame {
    flex: 1;
    padding: 20px;
}
.para-list{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large; 
    color: #767571;
    word-spacing: 5px;
}

.image-frame img {
    max-width: 100%;
    height: auto;
}

.container2 {
display: flex;
/* flex-wrap: wrap; */
/* margin-left: 50px; */
/* margin-right: 50px; */
}

.image-container2 {
flex: 1 1 10%;
margin: 10px;
padding: 10px; 
border-radius: 50px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
text-align: center;
}

.image-container2 img {
max-width: 80%;
border-radius: 20px;
}

.image-container2 p {
margin-top: 10px;
font-size: 16px;
}

.horizontal-bar {
display: flex;
justify-content: space-between;
background-color:rgb(24, 86, 112); 
padding-top: 50px;
}

.section {
width: 25%;
padding: 20px;
margin-left: 50px;
}

.photo-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
margin-right: 50px;
}

.photo-grid img {
width: 100%;
}
.flexbox{
    padding-top :100px; ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}
.card1{
    box-shadow: -5px 5px 2px rgb(236, 225, 225);
    border: 1px solid rgb(236, 225, 225);;
    /* border-color: rgb(79, 77, 73); */
    width: 340px;
    padding-left: 10px;
    margin: 10px;
    align-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cardimg{
    width: 70%;
    justify-content: center;
}

input[type="text"], input[type="email"], input[type="number"] ,textarea {
    width: 70%;
    box-sizing: border-box;
    padding: 12px;
    border: 2px solid #ccc;
    border-bottom:5px solid #72e1f0;
    /* border-radius: 4px; */
    resize: vertical;
  }
  form input, form textarea {
    display: block;
  
    margin-bottom: 15px;
  }
  input[type="button"]
  {
    width: 160px;
    background-color:  rgb(26, 68, 68);
    border-radius: 25px;
    color: white;
    height: 50px;
    font-weight: bolder;
  }